
<!-- Sidebar content -->
<div class="sidebar-content">

  <!-- Sidebar header -->
  <div class="sidebar-section" style="position: sticky; top: 0; z-index: 90; background-color: #2c2d33; border-bottom: 1px solid #4d4d51;">
    <div class="sidebar-section-body d-flex justify-content-center">
      <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Турниры</h5>

      <div>
        <button type="button" class="btn btn-light btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-xl-inline-flex">
          <i class="ph-arrows-left-right"></i>
        </button>

        <button type="button" class="btn btn-light btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-xl-none">
          <i class="ph-x"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- /sidebar header -->

  <app-tournament-list></app-tournament-list>


  <!-- /main navigation -->

</div>
<!-- /sidebar content -->
