<div class="page-header border-bottom mb-3">
  <div class="page-header-content d-flex">
    <div class="page-title">
      <h5 class="mb-0">{{ league?.Name }}</h5>
      <div class="text-muted mt-1">{{ currentSeasonTitle }}</div>
    </div>
    <div class="my-auto ms-auto">
      <div class="btn-group" *ngIf="seasons.length">
        <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Архив
        </button>
        <!--        <a href="#" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Submenu on click</a>-->

        <div class="dropdown-menu dropdown-menu-scrollable">
          <a [routerLink]="'/t/' + tournamentId + '/' + s.Year " class="dropdown-item"
             *ngFor="let s of seasons">{{ s.Year }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="page-header-content d-md-flex flex-md-wrap border-top">
    <div class="d-flex">
      <div class="breadcrumb">
        <!--        <a routerLink="/" class="breadcrumb-item py-2"><i class="ph-house me-2"></i> Home</a>-->
        <a href="#" class="breadcrumb-item py-2"><span *ngIf="league" class="country-flag flag-icon me-1"
                                                       [ngClass]="'flag-icon-' + getSapiCountryFlag(league.Country)"></span> {{ league?.Country?.Name }}</a>
        <span class="breadcrumb-item active py-2">{{ league?.Name }}</span>
      </div>
    </div>

    <div class="collapse d-md-block ms-md-auto" id="bc_color_transparent">
      <week-picker [date]="dateRange" (dateChange)="dateChanged($event)"/>
    </div>
  </div>
</div>

<div class="content pt-0">
  <app-select-list [items]="filterSelectItems" [(value)]="flag" (valueChange)="loadGames()"/>

  <div class="d-flex">
    <app-spinner *ngIf="loading" class="ms-auto me-auto" [size]="40"/>
  </div>

  <app-games-list *ngIf="!loading" [games]="fixtures" [header]="true" [compact]="storage.compactContent.value"/>

  <app-spinner [size]="40" class="mt-3" *ngIf="!loading && loadingMore"/>

  <div #bottomEl></div>
</div>
