<div class="content">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Тестирование стратегий</h5>
    </div>
    <div class="card-body">
      Sstats.net предоставляет возможность тестирования ваших стратегий любой сложности. Подсчет проходимости и прибыльности.
      <br>
      <br>
      С вас:
      <ul>
        <li>описание вашей стратегии (алгоритма)</li>
        <li>показатели, которые нужно подсчитать</li>
      </ul>
      <br>
      С нас:
      <ul>
        <li>отчет по показателям в текстовом виде</li>
        <li>выгрузка матчей, участвующих в выборке (по необходимости)</li>
      </ul>

      <br>
      <br>
      Стоимость:
      <ul>
        <li>Бесплатно. Делитесь своим алгоритмом в теме на <a href="https://brcbet.com/topic/383416-poisk-slaboy-linii-bukmekera-api" target="_blank">форуме</a>. Отчет так же будет публиковаться в теме, в открытом доступе</li>
        <li>от 300 руб (завист от потраченного времени). (Возможна оплата криптой)</li>
      </ul>


      <br>
      <br>
      Писать сюда:<br>
      <ul>
        <li><a href="https://vk.com/sstats_net" target="_blank">https://vk.com/sstats_net</a></li>
        <li><a href="https://brcbet.com/topic/383416-poisk-slaboy-linii-bukmekera-api">Форум</a></li>
      </ul>

    </div>
  </div>

</div>
