<!-- Expand button -->
<button type="button" class="btn btn-sidebar-expand sidebar-control sidebar-end-toggle h-100">
  <i class="ph-caret-left"></i>
</button>
<!-- /expand button -->


<!-- Sidebar content -->
<div class="sidebar-content">

  <!-- Header -->
  <div class="sidebar-section sidebar-section-body d-flex align-items-center pb-0">
    <h5 class="mb-0"><i class="ph-star"></i> Избранное</h5>
    <div class="ms-auto">
      <button type="button" class="btn btn-light border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-end-toggle d-none d-xl-inline-flex">
        <i class="ph-arrows-left-right"></i>
      </button>

      <button type="button" class="btn btn-light border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-end-toggle d-xl-none">
        <i class="ph-x"></i>
      </button>
    </div>
  </div>
  <!-- /header -->

  <app-favourite-games/>


</div>
<!-- /sidebar content -->
