.stats-row {
  margin-bottom: 10px;
  font-size: 12px;
  color: #e5e5e5;
}

.xg-circle{
  border-radius: 90px;
  height: 70px;
  width: 70px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  padding-top: 23px;
  background-color: #37374a;
}
