
<!-- Page header -->
<div class="page-header page-header-light shadow">
    <div class="page-header-content d-lg-flex">
        <div class="d-flex">
            <h4 class="page-title mb-0">
                Новости
            </h4>

            <a href="#page_header" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
            </a>
        </div>
    </div>

    <div class="page-header-content d-lg-flex border-top">
        <div class="d-flex">
            <div class="breadcrumb py-2">
                <a href="index.html" class="breadcrumb-item"><i class="ph-house"></i></a>
                <span class="breadcrumb-item active">Новости сайта</span>
            </div>

            <a href="#breadcrumb_elements" class="btn btn-light align-self-center collapsed d-lg-none border-transparent rounded-pill p-0 ms-auto" data-bs-toggle="collapse">
                <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
            </a>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">

    <!-- Inner container -->
    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">

        <!-- Left content -->
        <div class="flex-1 order-2 order-lg-1">

           <span style="color: gray">Новости отсутсвуют</span>


            <!-- Pagination -->
            <div class="d-flex justify-content-center pt-3 mb-3">
                <ul class="pagination pagination-flat">
                    <li class="page-item"><a href="#" class="page-link rounded-pill"><i class="ph-arrow-left"></i></a></li>
                    <li class="page-item active"><a class="page-link rounded-pill">1</a></li>
<!--                    <li class="page-item"><a href="#" class="page-link rounded-pill">2</a></li>-->
<!--                    <li class="page-item align-self-center"><span class="mx-2">...</span></li>-->
<!--                    <li class="page-item"><a href="#" class="page-link rounded-pill">58</a></li>-->
<!--                    <li class="page-item"><a href="#" class="page-link rounded-pill">59</a></li>-->
                    <li class="page-item"><a class="page-link rounded-pill"><i class="ph-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /pagination -->

        </div>
        <!-- /left content -->


        <!-- Right sidebar component -->
        <div class="sidebar sidebar-component sidebar-expand-lg bg-transparent shadow-none order-1 order-lg-2 ms-lg-3 mb-3">

            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Search -->
                <div class="card">
                    <div class="sidebar-section-header border-bottom">
                        <span class="fw-semibold">Поиск</span>
                    </div>

                    <div class="sidebar-section-body">
                        <div class="form-control-feedback form-control-feedback-end">
                            <input type="search" class="form-control" placeholder="Search...">
                            <div class="form-control-feedback-icon">
                                <i class="ph-magnifying-glass"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /search -->


                <!-- Categories -->
                <div class="card">
                    <div class="sidebar-section-header border-bottom">
                        <span class="fw-semibold">Категории</span>
                    </div>

                    <div class="nav nav-sidebar">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="ph-file-text me-2"></i>
                                Общее
                                <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="ph-file-text me-2"></i>
                                Функционал сайта
                                <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="ph-file-text me-2"></i>
                                База знаний
                                <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="ph-file-text me-2"></i>
                                Стратегии
                                <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                            </a>
                        </li>
                    </div>
                </div>
                <!-- /categories -->


                <!-- Share -->
                <div class="card">
                    <div class="sidebar-section-header border-bottom">
                        <span class="fw-semibold">Share</span>
                    </div>

                    <div class="sidebar-section-body pb-0">
                        <ul class="list-inline text-center mb-0">
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-primary btn-icon btn-lg rounded-pill mb-3">
                                    <i class="ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-danger btn-icon btn-lg rounded-pill mb-3">
                                    <i class="ph-youtube-logo"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-info btn-icon btn-lg rounded-pill mb-3">
                                    <i class="ph-twitter-logo"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-warning btn-icon btn-lg rounded-pill mb-3">
                                    <i class="ph-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /share -->


            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /right sidebar component -->

    </div>
    <!-- /inner container -->

</div>
<!-- /content area -->
