.game-header {
  margin: 30px 20px;
  width: 100%;
}

.header-tournament {
  padding: 10px 20px;
}

.ht-score {
  font-size: 85%;
  color: #bfbfbf;
  margin-top: -12px;
  margin-bottom: 5px;
}

.fav.ph-star{
  color: #c5b89b;
}
